<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>

    <!--<add name="mssql"
		  connectionString="Data Source=DESKTOP-VQIPH4K\SQLEXPRESS;Initial Catalog=POSDB;Integrated Security=True;"
		  providerName="System.Data.SqlClient" ></add>-->
   <add name="mssql"
       connectionString="Data Source=DIANAABREU\SQLEXPRESS;Initial Catalog=POS_DB;Integrated Security=True;"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>